{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/message.css' %}" />
    <script src="{% static 'js/message.js' %}"></script>
    {% block link %}

    {% endblock link %}
</head>

<body>
    <nav>
        <div class="navbar">
            <a href="{% url 'post_list' %}" class="navbar-brand">DjangoBlogPlatform</a>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' user.pk %}">
                    <div class="nav-profile-img">
                        <img src="{{ user.profile_picture.url }}" width="40px" alt="Profile Image">
                    </div>
                </a>
                {% else %}
                <li class="nav-link"><a href="{% url 'signin' %}">Sign In</a></li>
                <li class="nav-link"><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}

    <div class="error">
        <div class="error__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
            </svg>
        </div>
        <div class="error__title">{{ message }}</div>
        <div class="error__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20">
                <path fill="#393a37"
                    d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z">
                </path>
            </svg>
        </div>
    </div>
    {% elif message.tags == 'success' %}
    <div class="success">
        <div class="success__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-check-circle-fill" viewBox="0 0 20 20">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>

        </div>
        <div class="success__title">{{ message }}</div>
        <div class="success__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20">
                <path fill="#393a37"
                    d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z">
                </path>
            </svg>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div>
        {% block content %}

        {% endblock content %}
    </div>
</body>

</html>