{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ post.title }}
{% endblock title %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock link %}

{% block content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <div class="post-meta">
        <a href="{% url 'profile' pk=post.author.pk %}">
            <div class="author-info">
                {% if post.author.profile_picture %}
                <img src="{{ post.author.profile_picture.url }}" alt="{{ post.author.username }}" class="author-img">
                {% endif %}
                <span class="post-author">{{ post.author }}</span>
            </div>
        </a>
        <br>
        <span class="post-date">Published on: {{ post.created_at }}</span>
        <span class="post-views">Views: {{ post.views }}</span>
    </div>
    <div class="post-content">{{ post.content }}</div>
    {% if user == post.author %}
    <div class="post-actions">
        <a href="{% url 'post_update' post.pk %}" class="edit-link">Edit</a>
        <a href="{% url 'post_delete' post.pk %}" class="delete-link">Delete</a>
    </div>
    {% endif %}

    <a href="{% url 'post_list' %}" class="back-link">Back to Post List</a>
</div>
{% endblock content %}